{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Air Quality Tracker</title>
        <link rel="stylesheet" href="{% static 'air_tracker/styles.css' %}">
    </head>
    {% block body %}
    <body>
        <div class="wrapper">
            <div class="body-top">
                <h1 class="page-title">ESD Air</h1>
                <h3 class="page-title-meta">Air Pollution Resource on Aberdeen</h3>
                <input id="search-bar" type="search" placeholder="Enter search item">
            </div>

            {% block navbar %}
            <nav class="nav">
                <ul class="nav-buttons">
                    <li><a href="">Home</a></li>
                    <li><a href="info.html"><span id="nav-span">About Air Pollution</span></a></li>
                    <li><a href="">Data</a></li>
                </ul>
            </nav>
            {% endblock %}

            {% block content %}
            <div class="main-body">

            </div>
            {% endblock %}

            <div class="footer">

            </div>
        </div>
    </body>
    {% endblock %}
</html>
