{% extends 'base.html' %}

<div>
    <table class="data-table">
        <tr>
            <th></th>
            <th></th>
            <th>Anderson Drive</th>
            <th>Errol Park</th>
            <th>King Street</th>
            <th>Market Street 2</th>
            <th>Union Street</th>
            <th>Wellington Road</th>
        </tr>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Nitric(µg/m³)</th>
            <th>Nitrogen dioxide(µg/m³)</th>
            <th>Nitrogen oxide(µg/m³)</th>
            <th>PM10(µg/m³)</th>
            <th>PM2.5(µg/m³)</th>
            <th>PM1(µg/m³)</th>
            <th>Modelled Wind Direction(º)</th>
            <th>Modelled Wind speed(m/s)</th>
            <th>Modelled Temperature(ºC)</th>
            <th>Nitric(µg/m³)</th>
            <th>Nitrogen dioxide(µg/m³)</th>
            <th>Nitrogen oxide(µg/m³)</th>
            <th>PM10(µg/m³)</th>
            <th>PM2.5(µg/m³)</th>
            <th>PM1(µg/m³)</th>
            <th>Modelled Wind Direction(º)</th>
            <th>Modelled Wind speed(m/s)</th>
            <th>Modelled Temperature(ºC)</th>
            <th>Nitric(µg/m³)</th>
            <th>Nitrogen dioxide(µg/m³)</th>
            <th>Nitrogen oxide(µg/m³)</th>
            <th>PM10(µg/m³)</th>
            <th>PM2.5(µg/m³)</th>
            <th>PM1(µg/m³)</th>
            <th>Modelled Wind Direction(º)</th>
            <th>Modelled Wind speed(m/s)</th>
            <th>Modelled Temperature(ºC)</th>
            <th>Nitric(µg/m³)</th>
            <th>Nitrogen dioxide(µg/m³)</th>
            <th>Nitrogen oxide(µg/m³)</th>
            <th>PM10(µg/m³)</th>
            <th>PM2.5(µg/m³)</th>
            <th>PM1(µg/m³)</th>
            <th>Modelled Wind Direction(º)</th>
            <th>Modelled Wind speed(m/s)</th>
            <th>Modelled Temperature(ºC)</th>
            <th>Nitric(µg/m³)</th>
            <th>Nitrogen dioxide(µg/m³)</th>
            <th>Nitrogen oxide(µg/m³)</th>
            <th>PM10(µg/m³)</th>
            <th>PM2.5(µg/m³)</th>
            <th>PM1(µg/m³)</th>
            <th>Modelled Wind Direction(º)</th>
            <th>Modelled Wind speed(m/s)</th>
            <th>Modelled Temperature(ºC)</th>
            <th>Nitric(µg/m³)</th>
            <th>Nitrogen dioxide(µg/m³)</th>
            <th>Nitrogen oxide(µg/m³)</th>
            <th>PM10(µg/m³)</th>
            <th>PM2.5(µg/m³)</th>
            <th>PM1(µg/m³)</th>
            <th>Modelled Wind Direction(º)</th>
            <th>Modelled Wind speed(m/s)</th>
            <th>Modelled Temperature(ºC)</th>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
    </table>
</div>