{% extends 'station_app/base.html' %}

{% block content %}
<div>
    <div class="data-page-start">
        <div id="data-page-filter-title">
            <h1>Kindly select a station to view data</h1>
        </div>
        
        <form action="/data/" method="post" class="data-page-filter-form">
            <p>Station</p>
            <select name="station_name" class="data-page-select">
                <option disabled selected>Select an option</option>

                {% for num in station_id_num %}
                <option value="{{num.id}}">{{num.site_name}}</option>
                {% endfor %}
            </select><br>
            {% csrf_token %}
            <input type="radio" name="chart_type" value="nitrogen_dioxide" checked>NO<sub>2</sub>
            <input type="radio" name="chart_type" value="nitrogen_oxides">NO as NO<sub>2</sub>
            <input type="radio" name="chart_type" value="pm10">PM10
            <input type="radio" name="chart_type" value="pm2point5">PM2.5
            <input type="radio" name="chart_type" value="nitric_oxide">NO
            <input type="submit" value="Submit" id="data-page-submit-button">
        </form>
    </div>

    {% if station %}
    <div>
        <div class="data-table-heading">
            <h1>{{variable}} Graph for {{ station_name.site_name }}.</h1>
        </div>
        <div class="data-page-start">
            <br>
            <p>Within the shown duration, the value of {{ variable }} has been higher than the
                <a href="https://apps.who.int/iris/handle/10665/345329">WHO recommendation</a>
            {{ above }} times. And the average amount of {{ variable }} has been {{ avg }} µg/m³.</p>
        </div>
        <div>
            {% autoescape off %}
            {{ plot_div }}
            {% endautoescape %}
        </div>
        <div>
            {% autoescape off %}
            {{ plot_div2 }}
            {% endautoescape %}
        </div>
        <div class="data-table-heading">
            <h1>Air Pollution Data for {{ station_name.site_name }}.</h1>
        </div>
        <div class="data-table">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Nitric(µg/m³)</th>
                    <th>Nitrogen dioxide (µg/m³)</th>
                    <th>Nitrogen oxide (µg/m³)</th>
                    <th>PM10 (µg/m³)</th>
                    <th>PM2.5 (µg/m³)</th>
                    <th>Wind Direction (º)</th>
                    <th>Wind Speed (m/s)</th>
                    <th>Temperature (ºC)</th>
                </tr>
                {% for row in page_obj %}
                <tr>
                    <td>{{ row.date.date }}</td>
                    <td>{{ row.time.time }}</td>
                    <td>{{ row.nitric_oxide }}</td>
                    <td>{{ row.nitrogen_dioxide }}</td>
                    <td>{{ row.nitrogen_oxides }}</td>
                    <td>{{ row.pm10 }}</td>
                    <td>{{ row.pm2point5 }}</td>
                    <td>{{ row.wind_direction.direction }}</td>
                    <td>{{ row.wind_speed.speed }}</td>
                    <td>{{ row.temperature.temp }}</td>

                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First page</a>
            <span>|</span>
            <a href="?page={{ page_obj.previous_page_number }}">Previous page</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next page</a>
            <span>|</span>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last page &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</div>

{% endblock %}
