{% extends 'station_app/base.html' %}


{% block content %}
<div>
    <div class="home-table-title">
        <h2>Station Details</h2>
    </div>
    <div class="home-table">
        <table>
            <tr>
                <th>Station Names</th>
                <th>Location</th>
            </tr>
            <tr>
                <td><a href="">Anderson Drive</a></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}